body {
  background-color: #0B0C10;
  color: #C5C6C7;
  font-size: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

a {
  color: #45A29E;
  text-decoration: none;
  font-weight: bold;
}

.toc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 2%;
  top: 10%;
  width: 15%;
  height: 80%;
  position: fixed;
  overflow: auto;
}

.toc a {
  display: block;
  padding: 8px 16px;
}

abbr {
  text-decoration: none;
  border-bottom: 1px solid;
}


pre .str, code .str { color: #1c99af; } /* string */
pre .kwd, code .kwd { color: #1f55b9; } /* keyword */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment */
pre .typ, code .typ { color: #89bdff; } /* type */
pre .lit, code .lit { color: #3387CC; } /* literal */
pre .pun, code .pun { color: #C5C6C7; } /* punctuation */
pre .pln, code .pln { color: #C5C6C7; } /* plaintext */
pre .dec, code .dec { color: #3387CC; } /* decimal */